_current_progress_remaining:
    value: 1
_custom_logger:
    value: "False"
_episode_num:
    value: 0
_last_episode_starts:
    value: '[ True]'
_last_obs:
    value: '[[ 0.00962471 -0.9999537  -0.14119138]]'
_last_original_obs:
    value: None
_logger:
    value: <stable_baselines3.common.logger.Logger object at 0x00000202E50ED390>
_n_updates:
    value: 0
_num_timesteps_at_start:
    value: 0
_stats_window_size:
    value: 100
_total_timesteps:
    value: 10000
_vec_normalize_env:
    value: None
_wandb:
    value:
        cli_version: 0.23.1
        e:
            d1g8xlbf0qbmem68lnkdbcujzae29zjz:
                codePath: datalab_tasks\Robotics\rl_1.py
                codePathLocal: rl_1.py
                cpu_count: 14
                cpu_count_logical: 20
                cudaVersion: "12.7"
                disk:
                    /:
                        total: "994436255744"
                        used: "586483474432"
                email: 242720@buas.nl
                executable: C:\Users\honya\.conda\envs\plant_segmentation\python.exe
                git:
                    commit: b562dae1a12c9e6641983659c6b8e67a2c48dd7b
                    remote: https://github.com/BredaUniversityADSAI/2025-26b-fai2-adsai-GergoHonyak242720.git
                gpu: NVIDIA GeForce RTX 4060 Laptop GPU
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Ada
                      cudaCores: 3072
                      memoryTotal: "8585740288"
                      name: NVIDIA GeForce RTX 4060 Laptop GPU
                      uuid: GPU-853ad9a9-9a20-eff2-e7de-78af02b4b326
                host: gergo
                memory:
                    total: "33960333312"
                os: Windows-10-10.0.26200-SP0
                program: C:\Users\honya\Documents\GitHub\2025-26b-fai2-adsai-GergoHonyak242720\datalab_tasks\Robotics\rl_1.py
                python: CPython 3.11.14
                root: C:\Users\honya\Documents\GitHub\2025-26b-fai2-adsai-GergoHonyak242720\datalab_tasks\Robotics
                startedAt: "2025-12-10T10:41:59.943653Z"
                writerId: d1g8xlbf0qbmem68lnkdbcujzae29zjz
        m: []
        python_version: 3.11.14
        t:
            "1":
                - 2
                - 1
                - 3
                - 5
                - 53
            "2":
                - 2
                - 1
                - 3
                - 5
                - 53
            "3":
                - 2
                - 3
                - 16
                - 22
            "4": 3.11.14
            "5": 0.23.1
            "8":
                - 3
            "12": 0.23.1
            "13": windows-amd64
action_noise:
    value: None
action_space:
    value: Box(-2.0, 2.0, (1,), float32)
algo:
    value: PPO
batch_size:
    value: 64
clip_range:
    value: FloatSchedule(ConstantSchedule(val=0.2))
clip_range_vf:
    value: None
device:
    value: cpu
ent_coef:
    value: 0
env:
    value: <stable_baselines3.common.vec_env.dummy_vec_env.DummyVecEnv object at 0x00000202DD366390>
ep_info_buffer:
    value: deque([], maxlen=100)
ep_success_buffer:
    value: deque([], maxlen=100)
gae_lambda:
    value: 0.95
gamma:
    value: 0.99
learning_rate:
    value: 0.0003
lr_schedule:
    value: FloatSchedule(ConstantSchedule(val=0.0003))
max_grad_norm:
    value: 0.5
n_envs:
    value: 1
n_epochs:
    value: 10
n_steps:
    value: 2048
normalize_advantage:
    value: "True"
num_timesteps:
    value: 0
observation_space:
    value: Box([-1. -1. -8.], [1. 1. 8.], (3,), float32)
policy:
    value: |-
        ActorCriticPolicy(
          (features_extractor): FlattenExtractor(
            (flatten): Flatten(start_dim=1, end_dim=-1)
          )
          (pi_features_extractor): FlattenExtractor(
            (flatten): Flatten(start_dim=1, end_dim=-1)
          )
          (vf_features_extractor): FlattenExtractor(
            (flatten): Flatten(start_dim=1, end_dim=-1)
          )
          (mlp_extractor): MlpExtractor(
            (policy_net): Sequential(
              (0): Linear(in_features=3, out_features=64, bias=True)
              (1): Tanh()
              (2): Linear(in_features=64, out_features=64, bias=True)
              (3): Tanh()
            )
            (value_net): Sequential(
              (0): Linear(in_features=3, out_features=64, bias=True)
              (1): Tanh()
              (2): Linear(in_features=64, out_features=64, bias=True)
              (3): Tanh()
            )
          )
          (action_net): Linear(in_features=64, out_features=1, bias=True)
          (value_net): Linear(in_features=64, out_features=1, bias=True)
        )
policy_class:
    value: <class 'stable_baselines3.common.policies.ActorCriticPolicy'>
policy_kwargs:
    value: '{}'
rollout_buffer:
    value: <stable_baselines3.common.buffers.RolloutBuffer object at 0x00000202DCD6C410>
rollout_buffer_class:
    value: <class 'stable_baselines3.common.buffers.RolloutBuffer'>
rollout_buffer_kwargs:
    value: '{}'
sde_sample_freq:
    value: -1
seed:
    value: None
start_time:
    value: 1765363324202383500
target_kl:
    value: None
tensorboard_log:
    value: runs/7hq76z12
use_sde:
    value: "False"
verbose:
    value: 1
vf_coef:
    value: 0.5
